body {
    background-color: #f4be49;
    color: #272626;
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    background-color: #f0f0f0;
    border: 2px solid #272626;
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 25px;
    
}
table {
    background-color: #6e6656;
    border: 2px solid #272626;
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    width: 300px;
}

td {
    background-color: #f0f0f0;
    border: 2px solid #272626;
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-radius: 15px;   
    width: 50px;
    height: 50px;
    text-align: center;
}
input {
	color: #272626;
    background-color: #f0f0f0;
    border: none;
    width: 90%;
    height: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 800;
}
button {
	color: #272626;
	background-color: #f0f0f0;
	border: none;
	border-radius: 15px;
    text-align: center;
	font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	width: 100%;
	height: 100%;
}