<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockBoxiOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AAF0E92AAFDFEF15F4F327D1A43D8C2640D58603</string>
				<key>dateExpires</key>
				<string>21.05.26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4LQR375N9Y.com.NilsAmmon.BlockBox</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4LQR375N9Y</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>BlockBoxiOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6bc20258-af2f-43c9-a1c3-fd321ab21749</string>
				<key>dateExpires</key>
				<string>29.05.25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.NilsAmmon.BlockBox</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4LQR375N9Y</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
