<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/BlockBoxiOS.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.NilsAmmon.BlockBox</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleVersion</key>
		<string>1.0.0</string>
		<key>SigningIdentity</key>
		<string>Apple Development: ammonnils@gmail.com (G7J5B4MX5Q)</string>
		<key>Team</key>
		<string>4LQR375N9Y</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2025-05-22T09:26:55Z</date>
	<key>Name</key>
	<string>BlockBoxiOS</string>
	<key>SchemeName</key>
	<string>BlockBoxiOS</string>
</dict>
</plist>
